<h1>Books</h1>

<% @books.each do |book| %>

  <p>
    Title:
   <span>
     <%= link_to book.title, book_path(book.id) %>
   </span>
  </p>
  <p>
    Body:
    <span>
      <%= link_to book.body, book_path(book.id) %>
    </span>
  </p>
  
  <br/>

  <%= link_to "Show", book_path(book.id) %>
  |
  <%= link_to "Edit", edit_book_path(book.id) %>
  |
  <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>
  <% end %>