<h2>New book</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book,url: "/books", method: :post do |f| %>
  <div class="form">
    Title
    <%= f.text_field :title %>
  <div>
    
  <div class="form">
    Body
    <%= f.text_area :body %>
  </div>
  <div class="action">
  <%= f.submit "Create book" %>
  </div>
<% end %>


